$color-primary-dark: #3D00B2;
$color-primary: #5300F1;
$color-primary-light: #F5F0FF;
$color-error: #F0676E;
$color-success-dark: #20A080;
$color-success: #3ABD9F;
$color-success-light: #45D5BE;
$color-yellow: #FFE252;
$color-warning: #F09867;
$color-info: #696DFF;
$color-danger-dark: #D41111;
$color-danger: #F04848;
$color-danger-light: #FFE0E0;
$color-white-broken: #F9F9F9;
$color-grey: #69819D;
$color-grey-default: #E0E5EB;
$color-grey-light: #F6F7F9;
$color-grey-middle: #D0D0D0;
$color-grey-border: #ECECEC;
$color-grey-accent: rgba(207, 212, 232, 0.9);
$color-grey-accent-highlight: rgb(200, 200, 232);
$color-grey-dark:#69819D;
$color-grey-darker: #808C9A;
$color-grey-darkest: #161616;
$color-text: #424F5D;
$color-black-bluish: #1D224F;