@use "_colors.scss" as colors;

@mixin border($border-radius) {
    border: 1px solid colors.$color-grey-border;
    border-radius: $border-radius;
}

@mixin gutter($height) {
    display: block;
    height: $height;
}

body {
    margin: 0;
    font-family: "Inter","sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.02em;
    font-size: 14px;
    color: colors.$color-black-bluish;
}
h1, h2, h3, h4, h5 {
    font-family: "Poppins","sans-serif";
}

#container {
    margin-left: 40px;
    margin-top: 32px;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

button {
    height: 52px;
    padding: 17.5px 20px;
    font-size: 16px;
    color: colors.$color-grey-dark;
}

.rounded-buttons button {
    @include border(28px);
    height: 52px;
    background-color: white;
    padding: 17.5px 20px;
    margin-right: 24px;
    font-size: 16px;
}

.btn-rounded {
    border-radius: 28px;
}

.btn-primary {
    background-color: colors.$color-primary;
    color: white;
    border: 0;
}

.btn-secondary {
    color: colors.$color-grey-dark;
    background-color: white;
    border: 0;
}

.rounded-input {
    @include border(8px);
    box-sizing: border-box;
}

input {
    height: 52px;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 12px;
}

@mixin icon($name) {
    .icon-#{$name} {
        display: inline-block;
        content: ' ';
        background-image: url("../assets/#{$name}.svg");
        background-repeat: no-repeat;
        background-size: 1em 1em;
        height: 1em;
        width: 1em;
        vertical-align: text-bottom;
    }
}

@include icon("trash");
@include icon("switch");

.full-width {
    width: 100%;
}

#clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.client-footer {
    background-color: colors.$color-grey-light;
    margin-top: -30px;
    padding-top: 36px;
    margin-bottom: 40px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: 2px solid colors.$color-grey-border;
}

.client-info {
    margin-top: 9px;
    margin-left: 20px;
}

.client.host iframe {
    border: 2px solid #D8CCFF;
}

.client-info-host {
    color: colors.$color-primary;
    font-weight: bold;
}

.client {
    width: 45vw;
    margin-right: 40px;
    display: inline-block;

    iframe {
        @include border(12px);
        width: 45vw;
        height: 477px;
        filter: drop-shadow(0px 0px 24px rgba(204, 204, 204, 0.2));
        box-sizing: border-box;
        background-color: white;
    }

    button {
        cursor: pointer;
    }
}

.btn-switch.switching {
    color: colors.$color-info;
    border-color: colors.$color-info;
}

.gutter-xs {
    @include gutter(12px);
}

.gutter-sm {
    @include gutter(24px);
}

.gutter {
    @include gutter(36px);
}

.centered {
    text-align: center;
}

button:focus {
    outline: 0;
    box-shadow: 0 0 2px colors.$color-grey-darkest;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}